body {
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
}

#write1 {
    margin-top: 50px;
}

#section1 p {
    color: #7D7987;
}

#section1 button {
    background-color: #458FF6;
    border-radius: 55px;
    border: 1px solid transparent;
}

#section1 button {

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 7;
    font-size: 18px;
    line-height: 60px;
    /* identical to box height, or 333% */


    color: #FFFFFF;

    mix-blend-mode: normal;
}

.texts p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    color: #7D7987;

    mix-blend-mode: normal;

}

.texts h4 {
    display: flex;
    justify-content: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    /* identical to box height, or 156% */


    color: #000000;

    mix-blend-mode: normal;

}

.texts h6 {
    display: flex;
    justify-content: center;

    border-radius: 5px;
}

.texts {
    margin-top: 50px;
}

.karecik {
    background: #FFFFFF;
    /* drop shadow */

    box-shadow: 10px 40px 50px rgba(170, 173, 182, 0.4);
    border-radius: 20px;
    width: 30%;
    height: 200;
}

.sira1 {
    display: flex;
    justify-content: space-between;

}

.sira2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.karecik {
    padding: 10px;
}

.karecik p {
    color: #7D7987;
}

#section2 button {
    background-color: #FFFFFF;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 18px;
    color: #458FF6;
    mix-blend-mode: normal;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    margin-left: 45%;
}

#buttonspecial2 {
    background-color: #FFFFFF;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 18px;
    color: #458FF6;
    mix-blend-mode: normal;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

#section3 {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#section3 img {
    margin-top: 20%;
}


#section3 h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    /* or 156% */
    margin-top: 20%;

    color: #000000;

    mix-blend-mode: normal;
}

/* 
#section4 {
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
} */


#buttonspecial3 {
    background-color: #FFFFFF;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 18px;
    color: #458FF6;
    mix-blend-mode: normal;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

#section4 button i {
    color: #458FF6;
}

#section4 {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#section4 img {
    margin-top: 20%;
}


#section4 h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    /* or 156% */
    margin-top: 20%;

    color: #000000;

    mix-blend-mode: normal;
}

#section5 .row {
    background-color: #458FF6;
    margin: 50px;
    border-radius: 20px;

}

#section5 h3 {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}


#section5 p {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

#section5 img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20%;
}

#section5 h5 {
    color: #FFFFFF;

}

#section5 p {
    color: #FFFFFF;
}

.cole {
    display: flex;
    justify-content: space-between;
}

.textsss {
    display: flex;
    justify-content: center;

}

#comment {
    color: #7D7987;
    margin-top: 20%;
}

.diger {
    display: inline;
    color: #458FF6;
    margin-left: 45%;

}

#section6 {
    margin-top: 20%;
}

.article {
    display: flex;
    justify-content: center;
}

.new {
    background: #FFFFFF;
    /* drop shadow */

    box-shadow: 10px 40px 50px rgba(79, 80, 83, 0.4);
    border-radius: 20px;
    margin-left: 30px;
}

.new img {
    border-radius: 20px;
}

.new h5 {

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    /* or 152% */


    color: #000000;

    mix-blend-mode: normal;
}

.new h6 {

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    color: #7D7987;

    mix-blend-mode: normal;

}

.new p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    /* identical to box height, or 165% */


    color: #4089ED;

    mix-blend-mode: normal;
}

.check p {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.check h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#section6 button {
    margin-left: 45%;
    margin-top: 50px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-family: 'Mulish';
    font-style: normal;

    font-size: 18px;
    line-height: 60px;
    /* identical to box height, or 333% */


    color: #458FF6;

    mix-blend-mode: normal
}
footer{
    background-color: #4089ED;
}