//colors

$main_color:#458FF6;
$white:#fff;
$text:#7D7987;
$black:#000;
$body:#E5E5E5;


//size

$margin-x:10px;
$margin-2x:$margin-x*2;
$margin-3x:$margin-x*3;
$margin-4x:$margin-x*4;
$margin-5x:$margin-x*5;
$margin-6x:$margin-x*6;
$margin-7x:$margin-x*7;
$margin-8x:$margin-x*8;


$padding-x:10px;
$padding-2x:$padding-x*2;
$padding-3x:$padding-x*3;
$padding-4x:$padding-x*4;
$padding-5x:$padding-x*5;
$padding-6x:$padding-x*6;
$padding-7x:$padding-x*7;
$padding-8x:$padding-x*8;



$fontsize-x:8px;
$fontsize-2x:$fontsize-x*2;
$fontsize-3x:$fontsize-x*3;
$fontsize-4x:$fontsize-x*4;
$fontsize-5x:$fontsize-x*5;
$fontsize-6x:$fontsize-x*6;
$fontsize-7x:$fontsize-x*7;
$fontsize-8x:$fontsize-x*8;